@tailwind base;
@tailwind components;
@tailwind utilities;

p,span,h1,h2,h3,h4,h5,div{
    color: #262626;
  }
  .activeNavIconMore>*{
    stroke-width: 3px;
  }
  .activeNavIconMore>line{
    width: 30px;
  }
  .activeNavIconSearch>*{
    stroke-width: 3px;
  }
  .activeNavIconMessage>g>path{
    stroke-width: 3px;
  }
  .activeNavIconHeart>g>path{
    fill: #262626
  }
  .activeNavIconHeart>g>line{
    fill: #262626;
  }
  .activeNavText{
    font-weight: bold;
  }
  .activeNavIcon>*{
    fill: #262626;
  }
  @layer utilities {
    .navigationContainer{
      @apply lg:flex-col lg:border-gray-200 border-r-[0.1px] lg:w-[18%] lg:p-3 gap-5 md:flex md:flex-col md:px-3 md:pt-2 md:pb-5 flex-shrink-0 lg:flex-none md:w-auto md:h-full lg:bg-white md:top-0 md:left-0 bottom-0 left-0 h-14 w-full bg-white flex
    }
    
    .navList{
      @apply md:flex md:items-center md:gap-4 hover:bg-gray-100 md:rounded-xl md:p-3 md:self-baseline self-center
    }
    .storyContainer{
      @apply flex items-center gap-8 w-full
    }
    .modalProvider{
      @apply fixed top-0 left-0 backdrop-blur-sm w-full h-full flex justify-center items-center
    }
    .modalContainer{
      @apply bg-white w-[736px] h-[779px] rounded-lg flex flex-col border border-gray-300 z-50
    }
    .modalbody{
      @apply w-full h-full flex flex-col items-center justify-center gap-2
    }
    .headerPost{
      @apply w-full h-fit border-b border-gray-500 py-2 flex justify-center text-sm font-bold
    }
    .loadingMain{
      @apply w-full h-full fixed z-50 backdrop-blur-md flex justify-center items-center
    }
  }